.App {
  text-align: center;
}
.container{
  background-image: linear-gradient(to bottom right, red, yellow);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
